.nav {
    list-style: none;
    display: flex;
    background-color: #191f3b;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 100px;
    gap: 0;
    box-shadow: 0px 3px 10px #191f3b;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-brand a {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.nav-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    height: 30px;
    width: 100px;
    border-radius: 20px;

}
.nav-contact a {
    color: white;

}
